
            
            nav{
                background-color: black;
            
            }
            .navbar-toggler-icon{
                background-color: white;
                border-radius: 3px;
            }
            button:after{
                color: white;

            

            }
            .justify-content-center{
                margin-left: 25%;
            }
            .btn:hover{
                color: white;
            }
            link{
                color: white;
            }
            .btn{
                color: #767676;
            }
            
       
            a:hover{
                color: white;
                
                border-bottom: 5px solid white;
            
            }
            ul li a {
                text-decoration:none;
                color: #7a7a7a;
            
            }
        
            ul{
                margin-left: 28%;
                color: white;
            
            }
        
        
            img{
                width: 45px;
            }
            h3{
                font-size: 16px;
                margin-top: 2.5%;
                color: white;

            }
            h2{
                font-size: 20px;
                margin: 6%;
            }
            .image{
                margin-left: 14%;
            }
            .btn-n{
                float: right;
                margin: 2%;
                background-color:#FE1B00;
                color: white;
            }
            .retour{
                margin: 5%;
                
            }
            .container{
                
                padding: 2.5%;
                
            }
            .titre{
                text-align: center;
                margin-top: -7%;
            }
            .input{
                
                background-color: gainsboro;
               
                
                

            }
            .QU{
                margin-top: 2%;



            }
            
            .QU1{
                width: 30%;
                background-color: gainsboro;
                

            }
            .QU2{
                width: 70%;
                background-color: gainsboro;
                

            }
            
            .QU4{
                background-color: gainsboro;
                margin-right: 3%;
                width: 30%;
                height: 40px;
                

            } 
            .input-group{
                margin-top: 3%;
                margin: 3%;
            }
            .form-group{
                margin: 5%;
            }
            .QU5{
                margin-top: 4.5%;
            }
            .QU6{
                margin-top: 4.5%;
            }
            .bi{
                margin-top: 5%;
            }
            .ajout{
                margin-left: 12%;
            
            }
            .btn-dark:hover{
                background-color:#dcdc ;
            }
            .btn-enregistrer{
                background-color:#FE1B00;

            }
            .aligne{
                float: right;
            }
            

       