nav{
    background-color: black;

}
.navbar-toggler-icon{
    background-color: white;
    border-radius: 3px;
}
button:after{
    color: white;



}
.justify-content-center{
    margin-left: 2%;
}
.btn:hover{
    color: white;
}
link{
    color: white;
}

a:hover{
    color: white;
    
    border-bottom: 5px solid white;

}
ul li a {
    text-decoration:none;
    color: #7a7a7a;

}

ul{
    margin-left: 28%;
    color: white;

}
.btn{
    color: #767676;
}



img{
    width: 45px;
}
h3{
    font-size: 16px;
    margin-top: 2.5%;
    color: white;

}
h2{
    font-size: 20px;
    margin: 6%;
}
.image{
    margin-left: 14%;
}
.btn-n{
    float: right;
    margin: 2%;
    background-color:#FE1B00;
    color: white;
}

.btn-danger:hover{
    background-color: #FE1B00;
    border-color:#FE1B00;
}


